body{
    background: url('/images/strawberry.webp')
}


p {
    font-size:60px;
    font-family: Pacifico, arial, helvetica, sans-serif;
    color: rgb(94, 144, 105);
}

div {
    text-align: center;

}
