body{
    background-image: url('./images/strawberry.webp')
}


p {
    font-size:60px;
    font-family: Pacifico, arial, helvetica, sans-serif;
    color: rgb(94, 144, 105);
}

div {
    text-align: center;

}

#cat {
    
    
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#gallery > img {
    width: 100%;
    height: auto;
    border: solid 2px white
}